<div id="">
  <div class="container">
    <div class="col-sm-12">
      <div class="row">
      <% if @products.present? %>
      <% @products.each do |product| %>
        <div class="col-sm-6">
          <div class="card">
          <%= image_tag product.image.variant(resize: "320x200") %>
          <div class="card-body">
            <h4 class="card-title"><%= product.name %></h4>
            <h6 class="card-subtitle mb-2 text-muted"><%= product.price %>$</h6>
            <p class="card-text"><%= product.description %> </p>
            <a class="add-to-cart" data-product-id=<%= product.id %>>add to cart</a>
          </div>
          </div>
        </div>
      <% end %>
      <% else %>
        <span class="empty">No products.</span>
      <% end %>  
      </div>
    </div>
  </div>
</div>




